<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
    <bindings>
      <webHttpBinding>
        <binding name="Service.BasicHttp.BindingConfig" useDefaultWebProxy="false" hostNameComparisonMode="WeakWildcard" sendTimeout="00:15:00" openTimeout="00:15:00" receiveTimeout="00:15:00" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" transferMode="StreamedRequest">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
          <security mode="None" />
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="bomoserv.bomopublic">
        <endpoint address="" binding="webHttpBinding" contract="bomoserv.ibomopublic" bindingConfiguration="Service.BasicHttp.BindingConfig"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <appSettings>
    <add key="sqlconn" value="Server=69.167.191.21;Database=aadhisof_db1;User Id=aadhisoftdbuser;password=Engineering!1"/>
    <add key="email_from" value="mail@aadhisoft.com"/>
    <add key="email_pass_from" value="Engineering!1"/>
    <add key="smtp_from" value="mail.aadhisoft.com"/>
    <add key="email_from_name" value="Aadhi Software"/>
    <add key="email_from_name" value="Aadhi Software"/>
    <add key="email_alert_to" value="bomosiuser@gmail.com"/>
    <add key="email_sales_bcc" value="support@aadhisoft.com"/>
  </appSettings>
  <system.webServer>
    <rewrite>
      <outboundRules>
        <rule name="Remove RESPONSE_Server">
          <match serverVariable="RESPONSE_Server" pattern=".+" />
          <action type="Rewrite" value="" />
        </rule>
        <rule name="Remove X-POWERED-BY">
          <match serverVariable="RESPONSE_X-POWERED-BY" pattern=".+" />
          <action type="Rewrite" value="" />
        </rule>
        <rule name="Remove X-ASPNET-VERSION">
          <match serverVariable="RESPONSE_X-ASPNET-VERSION" pattern=".+" />
          <action type="Rewrite" value="" />
        </rule>
      </outboundRules>
    </rewrite>
    <defaultDocument>
      <files>
        <add value="bomopublic.svc"/>
      </files>
    </defaultDocument>

    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>

    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>