<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
    <bindings>
      <webHttpBinding>
        <binding name="Service.BasicHttp.BindingConfig" useDefaultWebProxy="false" hostNameComparisonMode="WeakWildcard" sendTimeout="00:15:00" openTimeout="00:15:00" receiveTimeout="00:15:00" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" transferMode="StreamedRequest">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" />
          <security mode="None" />
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="ecomserv.ecompublic">
        <endpoint address="" binding="webHttpBinding" contract="ecomserv.iecompublic" bindingConfiguration="Service.BasicHttp.BindingConfig" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="Metadata">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>

    <httpRuntime maxUrlLength="50000" />
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <appSettings> 
    <add key="sqlconn" value="Data Source=AZAM-PC\SQLEXPRESS;Initial Catalog=dbbomo1;Integrated Security=true"/>
    <add key="ecom_app_name" value="Olaala App" />
    <add key="ecom_email_to_error_sep_by_comma" value="olaalaoman@gmail.com" />
    <add key="ecom_log_table_days_limit" value="30" /> 
    
    <add key="ecom_email_no_reply_smtp" value="relay-hosting.secureserver.net" />
    <add key="ecom_email_no_reply_smtp_port" value="25" />
    <add key="ecom_email_no_reply_from" value="olaalaoman@gmail.com" />
    <add key="ecom_email_no_reply_from_pw" value="0l@@l@@pp" /> 
 
    <add key="ecom_email_support" value="olaalaoman@gmail.com" />
    <add key="ecom_max_products_scroll_load" value="10" />
    <add key="ecom_current_status_en" value="Processing" />
    <add key="ecom_current_status_ar" value="معالجة" />
    <add key="ecom_asset_path" value="~/img/ecom_olaala" />

    <add key="firebase_api_key" value="AAAAeb1v_Yg:APA91bHY0XXAin7tQvZi8SKRME0i_4kEpJFAsssK6rrIOvSVmCjYEdUuWyr9gN027Mvh9PDvmXWL9h5Ci8od4xtL1u-zdcM3AsKAkAgjG2gekxXg5znkm_HJAfjiKLgkt2QhUSfuItFm" />
    <add key="firebase_sender_id" value="522869276040" />

    <add key="need_return_err" value="y" />
  </appSettings>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <rewrite>
      <outboundRules>
        <rule name="Remove RESPONSE_Server">
          <match serverVariable="RESPONSE_Server" pattern=".+" />
          <action type="Rewrite" value="" />
        </rule>
        <rule name="Remove X-POWERED-BY">
          <match serverVariable="RESPONSE_X-POWERED-BY" pattern=".+" />
          <action type="Rewrite" value="" />
        </rule>
        <rule name="Remove X-ASPNET-VERSION">
          <match serverVariable="RESPONSE_X-ASPNET-VERSION" pattern=".+" />
          <action type="Rewrite" value="" />
        </rule>
      </outboundRules>
    </rewrite>
    <defaultDocument>
      <files>
        <add value="ecompublic.svc" />
      </files>
    </defaultDocument>

    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>

    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  
  </system.webServer>
</configuration>